<form id="imageForm" name="imageForm" method="post" action="/file_manages/uploaderr" enctype="multipart/form-data">
    <input type="hidden" id="hidden1" name="hidden1" />
     <div>图片</div>
      <input id="imageFile" name="imageFile" type="file" class="input1" size="35"/>
      <input type="button" class="submit" onclick="uploadImage();" value="上传">
</form>