<div class="page">
  <div class="page-header">
    <div class="page-header-content">
      <br/>
      <p><font size="6" face="微软雅黑">Editing       <%=controller.controller_name.capitalize.singularize%></font></b></p>
    </div>
  </div>
<%= render 'form' %>